<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" />
    <style>
        .img-custom{
            width: 80px;
            height: 80px;
        }
    </style>
</head>
<body>
<header th:replace="/components/_navbar :: navbar">
</header>

<div class="container border mx-auto my-5">
    <form method="get" th:action="@{/suggest}" th:object="${form}">
        <div class="container">
            <div class="row mt-2 mb-2">
                <div class="col-3" th:value="1">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Assembly.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Assembly">
                                        Assembly
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Assembly}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Assembly">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="2">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Batch.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Batch">
                                        Batch
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Batch}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Batch">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="3">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{${'images/C' + '%23' + '.jpg'}}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="C#">
                                        C#
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{CSharp}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="C#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="4">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{${'images/C' + '++.jpg'}}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="C++">
                                        C++
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Cpp}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="C++">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="5">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/C.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="C">
                                        C
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{C}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="C">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="6">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/CoffeeScript.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="CoffeeScript">
                                        CoffeeScript
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{CoffeeScript}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="CoffeeScript">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="7">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/CSS.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="CSS">
                                        CSS
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{CSS}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="CSS">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="8">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Go.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Go">
                                        Go
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Go}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Go">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="9">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Groovy.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Groovy">
                                        Groovy
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Groovy}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Groovy">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="10">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Hack.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Hack">
                                        Hack
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Hack}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Hack">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="11">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/HTML.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="HTML">
                                        HTML
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{HTML}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="HTML">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="12">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Java.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Java">
                                        Java
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Java}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Java">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="13">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/JavaScript.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="JavaScript">
                                        JavaScript
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{JavaScript}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="JavaScript">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="14">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Kotlin.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Kotlin">
                                        Kotlin
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Kotlin}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Kotlin">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="15">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Lua.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Lua">
                                        Lua
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Lua}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Lua">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="16">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Objective-C.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Objective-C">
                                        Objective-C
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{ObjectiveC}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Objective-C">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="17">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Perl.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Perl">
                                        Perl
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Perl}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Perl">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="18">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/PHP.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="PHP">
                                        PHP
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{PHP}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="PHP">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="19">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/PowerShell.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="PowerShell">
                                        PowerShell
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{PowerShell}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="PowerShell">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="20">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Python.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Python">
                                        Python
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Python}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Python">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="21">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Ruby.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Ruby">
                                        Ruby
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Ruby}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Ruby">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="22">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Shell.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Bash">
                                        Shell
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Bash}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Bash">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="23">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/SQL.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="SQL">
                                        SQL
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{SQL}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="SQL">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="24">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/Swift.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="Swift">
                                        Swift
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{Swift}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="Swift">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="25">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/TeX.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="TeX">
                                        TeX
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{TeX}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="TeX">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3" value="26">
                    <div class="card card-custom justify-content-md-center mb-2">
                        <div class="row">
                            <div class="col-3 align-self-center">
                                <img th:src="@{images/TypeScript.jpg}" style="padding:2px;" class="img-custom" alt="...">
                            </div>
                            <div class="col-6 align-self-center">
                                <div class="card-body text-center">
                                    <label class="form-check-label" for="TypeScript">
                                        TypeScript
                                    </label>
                                </div>
                            </div>
                            <div class="col-3 align-self-center">
                                <div class="card-body">
                                    <input th:field="*{TypeScript}" class="form-check-input ms-auto me-auto" type="checkbox" value="" id="TypeScript">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 justify-content-center">
                <button type="submit" class="col-1 btn btn-success">Conferma</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".form-check-input").each(function() {
            let order = $(this).parent().parent().parent().parent().parent().attr('value')
            console.log(order)
            $(this).parent().parent().parent().parent().parent().css("order", order)
        })
    })
    $(".form-check-input").css("visibility", "hidden")
    $(".card-custom").click(function (){
        if($(this).find('.form-check-input').prop('checked')){
            console.log("Was checked")
            $(this).find('.form-check-input').prop('checked', false)
            $(this).parent().css("order", $(this).parent().parent().parent().parent().parent().attr("value"))
            $(this).css("background", "#FFFFFF")
        } else {
            console.log("Was not checked")
            $(this).find('.form-check-input').prop('checked', true)
            $(this).parent().css("order", 0)
            $(this).css("background", "#d9d9d9")
        }
    })
</script>

</body>
</html>